.test-class{
  background-color: red;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    display: grid;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}